{
  "presets": ["@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "react": "./node_modules/react"
        }
      }
    ]
  ]
}
